{% extends 'layout.html.twig' %}

{% block title %}
    Jobs in the {{ pagination['0'].category.name }} category
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="category">
        <div class="feed">
            <a href="">Feed</a>
        </div>
        <h1>{{ pagination['0'].category.name }}</h1>
    </div>
    {{ include ('includes/list.html.twig', {'jobs': pagination}) }}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="pagination_desc">
        <strong>{{ pagination.getTotalItemCount }}</strong> {{ pagination.getTotalItemCount == 1 ? 'job' : 'jobs' }} in this category
    </div>
{% endblock %}